{% for c in cours %}	
	
	<div id="liste_cours" style="">
	<div id="check_cours_mat" class="" style=""> <input type="checkbox" name="option1" value="Milk"> </div>
	<div id="titre_cours_mat" class="" style=""> {{c.titre}} </div>
	<div id="signler_cours" class="" title="" style=""></div>
	</div >
	
{% endfor %}	