
<div id="parametres" class="" style="">

<div id="" class="prog_chaque_matrs" style="">
PARAMETRES
</div>
<div id="" class="" style="margin-top:20px;margin-left:30px">
Modification de mes informations:
</div>
<div class="inputs_para" class="" style="opacity:1">
					<form action="" method="post" >
					<input class="input_inscription" style=""  placeholder="nom " type="text" ></input></br> 
					<input class="input_inscription" style=""  placeholder="prénom" type="text" ></input></br> 
					<input class="input_inscription" style=""  placeholder="école" type="text" ></input></br> 
					<input class="input_inscription" style=""  placeholder="ville" type="text" ></input></br>  
					<input class="input_inscription" style=""  placeholder="email" type="text" ></input></br>  
					
					<label id="label_choix_niveau">Niveau</label> 
						<select  id="choix_niveau" name="choix">
							<option value="choix1">Choix 1</option>
							<option value="choix2">Choix 2</option>
							<option value="choix3">Choix 3</option>
							<option value="choix4">Choix 4</option>
						</select>
						
					<input class="input_inscription Confirmation_de_mot_de_passe" required="required" id="" class=""  placeholder="Confirmation de mot de passe" type="password" ></input></br> 	
					
					<div id="btn_insc" style="">
						<input  style="" value="Modifier"  placeholder="Login " type="submit" ></input>
					</div>
					
					</form>
</div>

<div id="" class="" style="margin-top:20px;margin-left:30px">
Changer mon mot de passe:
</div>

<div class="inputs_para" class="" style="opacity:1">
					<form action="" method="post" >
					<input class="input_inscription Confirmation_de_mot_de_passe" style="" required="required"  placeholder="ancien mot de passe" type="password" ></input></br> 
					<input class="input_inscription"  style=""  placeholder="nouveau mot de passe" type="password" ></input></br>
					<div id="btn_insc" style="">
						<input  style="" value="Modifier"  placeholder="Login " type="submit" ></input>
					</div> 					
					</form>
</div>

</div>
