{% extends 'InnovitGeneralBundle:General:general.html.twig' %}
{%block milieu%}

		<div id="div_gauche" class="" style="">        
			<div id="ruban" class="titre" style="">        
			 	من نحن؟
			</div>
		<div id="div_glob_qsnous" style="">
			<div id="div_gauche_qsnous1" class="div_gauche_qsnous" style="">        
				<div id="div_gauche_qsnous_titre1" class="" style="">        
					
					<span class="span_qsn" style="color:#FF9900;font-size:1.2em">
					تعريف عام
					</span>
					
					<div id="div_gauche_qsnous1_image" class="div_gauche_qsnous_image" style=""> 
					<img src="{{asset("images/png/64px/Shape 12.png")}}" style="width:100%" />
					</div>
				</div>
			
				<div id="div_gauche_qsnous_text1" class="div_gauche_qsnous_text" style="">    
					Qui sommes nous Qui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nous
					Qui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nous
					Qui sommes nousQui sommes
					Qui sommes nous Qui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nous
					Qui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nous
					Qui sommes nousQui sommes
					Qui sommes nous Qui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nous
					Qui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nous
					Qui sommes nousQui sommes
					Qui sommes nous Qui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nous
					Qui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nous
					Qui sommes nousQui sommes
					Qui sommes nous Qui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nous
					Qui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nous
					Qui sommes nousQui sommes
					
				</div>
			<div id="lire_la_suite1" class="lire_la_suite" style="">
			إقراء المزيد
			</div>
			<div id="retour1" class="retour" style="">
			رجوع
			</div>
			
			</div>
			
			<div id="div_gauche_qsnous2" class="div_gauche_qsnous" style="">        
				<div id="div_gauche_qsnous_titre2" class="" style="">        
					
					<span class="span_qsn" style="color:#00CCFF">
					نضرة جديدة لتأطير التلاميذ
					</span>
					<div id="div_gauche_qsnous2_image" class="div_gauche_qsnous_image" style=""> 
					<img src="{{asset("images/png/64px/Shape 8.png")}}" style="width:100%" />
					</div>
				</div>
			
				<div id="div_gauche_qsnous_text2" class="div_gauche_qsnous_text" style="">    
					Qui sommes nous Qui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nous
					Qui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nous
					Qui sommes nousQui sommes
					Qui sommes nous Qui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nous
					Qui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nous
					Qui sommes nousQui sommes
					Qui sommes nous Qui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nous
					Qui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nous
					Qui sommes nousQui sommes
					Qui sommes nous Qui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nous
					Qui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nous
					Qui sommes nousQui sommes
					Qui sommes nous Qui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nous
					Qui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nous
					Qui sommes nousQui sommes
					Qui sommes nous Qui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nous
					Qui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nous
					Qui sommes nousQui sommes
					
				</div>
			        <div id="lire_la_suite2" class="lire_la_suite" style="">
					إقراء المزيد
					</div>
					<div id="retour2" class="retour" style="">رجوع</div>
			
			</div>
			
			<div id="div_gauche_qsnous3" class="div_gauche_qsnous" style="">        
				<div id="div_gauche_qsnous_titre3" class="" style="">        
					
					<span class="span_qsn" style="color:#99CC00"> 
					دور الأستاذ في التقدم الدراسي
					</span>
					
					<div id="div_gauche_qsnous3_image" class="div_gauche_qsnous_image" style=""> 
					<img src="{{asset("images/png/128px/Shape 4.png")}}" style="width:100%" />
					</div>
				</div>
			
				<div id="div_gauche_qsnous_text3" class="div_gauche_qsnous_text" style="">    
					Qui sommes nous Qui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nous
					Qui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nous	
					Qui sommes nous Qui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nous
					Qui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nous
					Qui sommes nousQui sommes
					Qui sommes nous Qui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nous
					Qui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nous
					Qui sommes nousQui sommes
					Qui sommes nous Qui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nous
					Qui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nous
					Qui sommes nousQui sommes
					Qui sommes nous Qui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nous
					Qui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nous
					Qui sommes nousQui sommes
					Qui sommes nous Qui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nous
					Qui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nousQui sommes nous
					Qui sommes nousQui sommes					
				</div>
			<div id="lire_la_suite3" class="lire_la_suite" style="">
			إقراء المزيد
			</div>
			<div id="retour3"  class="retour" style="">
			رجوع
			</div>
			</div>
		</div>
		</div>
<script  src="{{asset("scripts/script_qsnous.js")}}" > </script>
{% endblock %}